*{
  margin: 0px;
  padding: 0px;
}
body{
  margin: 0px;
  padding: 0px;
  overflow-x:hidden;
}
.firstImage{
  position: relative;
  width: 100vw;
  height: 95vh;
  filter: brightness(35%);
  object-fit: cover;
  z-index: 0;

}
.headingFont{
  font-family: "Caladea", serif;
  font-weight: 400;
  font-style: normal;
}
.headingContent{
  position: absolute;
  z-index: 2;
  width: 100vw;
  top: 0px;
  height: 95vh;
}
.ta-c{
  text-align: center;
}
.heading{
  position: relative;
  z-index: 2;
  color: white;
  top: 10px;
  left: 25px;
  font-size: 34px;
}
.tagLine{
  color: white;
  font-size: 35px;
  margin-top: 50px;  
}
.tagLineText{
  font-size: 24px;
  line-height: 37px;
  font-family: "Geist Sans", serif;
  padding: 0px 300px;
  color: white;
}
@media (max-width:900px) {
  .tagLine{
    font-size: 30px;
  }
  .tagLineText{
    padding: 0px 100px;
  }
}

@media (max-width:550px) {
  .tagLine{
    font-size: 20px;
    margin-bottom: 30px;
    padding: 0px 10px;
  }
  .tagLineText{
    padding: 0px 20px;
  }
}
.tagLineContainer{
  margin-top: 1px;
}
.startNowButton{
  background-color: white;
  color: black;
  padding: 10px 120px;
  border-radius: 10px;
  font-size: 16px;
  line-height: 25px;
  cursor: pointer;
  margin-top: 50px;
  box-shadow: 5px 5px 10px #669;
  border: 0px solid red;
  font-family: "Open Sans";
}
.center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.features{
  margin-top: 60px;
  text-align: center;
  font-family: "Caladea", serif;
  font-size: 20px;
  padding: 0px 50px;
  margin-bottom: 50px;
}

.featuresContent{
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 18px;
}
@media (max-width:1200px) {
  .featuresContent{
    grid-template-columns: 1fr 1fr;
  }
  .features{
    padding: 0px 10px;
  }
}
@media (max-width:700px) {
  .featuresContent{
    grid-template-columns: 1fr;
  }
}
input{
  padding: 12px;
}
a{
  list-style: none;
  text-decoration: none;
}
.icons{
  width: 50px;
  height: 50px;
}
.box1{
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: whitesmoke;
  padding: 10px;
}
.box2{
  display: flex;
  height: 300px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: whitesmoke;
  padding: 10px;
}
.box3{
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: whitesmoke;
  padding: 10px;
}
.featureHeading{
  font-size: 20px;
  font-family: "Open Sans", serif;
  margin: 10px 0px;
}
.featureContent{
  font-size: 16px;
  font-family: "Open Sans", serif;
  margin-top: 5px;
}

.box1HIW{
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.box2HIW{
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.box3HIW{
  display: flex;
  height: 300px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.HIWContent{
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr ;
  grid-gap: 18px;
}
@media (max-width:700px){
  .HIWContent{
    grid-template-columns: 1fr;
  }
}
.contact{
  background-color: whitesmoke;
  padding: 50px;
}
.contactInfo{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.contactInfo input{
  width: 40vw;
}
.contactInfo textarea{
  width: 40vw;
  height: 100px;
  padding: 12px;
  font-family: "Geist Sans";
}

.contact h1{
  margin-bottom: 20px;
}
.contact p{
  margin-bottom: 20px;
}
.contactUsButton{
  height: 50px;
  margin-top: 15px;
  background-color: #669;
  color: white;
  font-family: "Open Sans", serif;
  border: 0px;
  border-radius: 6px;
  cursor: pointer;
  width: 41.7vw;
  padding: 15px;
}
@media (max-width:1000px) {
  .contactInfo input{
    width: 60vw;
  }
  .contactInfo textarea{
    width: 60vw;
  }
  .contactUsButton{
    width: 62vw;
  }
}

@media (max-width:700px) {
  .contactInfo input{
    width: 80vw;
  }
  .contactInfo textarea{
    width: 80vw;
  }
  .contactUsButton{
    width: 83vw;
  }
}

@media (max-width:600px) {
  .contactUsButton{
    width: 85vw;
  }
}
@media (max-width:450px) {
  .contactUsButton{
    width: 87vw;
  }
}
