*{
  margin: 0px;
  padding: 0px;
}
body{
  margin: 0px;
  padding: 0px;
}
.firstImage{
  position: relative;
  width: 100vw;
  height: 95vh;
  filter: brightness(45%);
  object-fit: cover;
  z-index: 0;

}
.headingFont{
  font-family: "Caladea", serif;
  font-weight: 400;
  font-style: normal;
}
.headingContent{
  position: absolute;
  z-index: 2;
  width: 100vw;
  top: 0px;
  height: 95vh;
}
.ta-c{
  text-align: center;
}
.heading{
  position: relative;
  z-index: 2;
  color: white;
  top: 10px;
  left: 15px;
}
.tagLine{
  color: white;
  font-size: 40px;
  margin-top: 50px;  
}
.tagLineText{
  font-size: 24px;
  line-height: 37px;
  font-family: "Caladea", serif;
}
.tagLineContainer{
  margin-top: 50px;
}
.startNowButton{
  background-color: white;
  color: black;
  padding: 10px 20px;
  border-radius: 30px;
  font-size: 20px;
  line-height: 25px;
  cursor: pointer;
  margin-top: 50px;
  box-shadow: 1px 1px 10px black;
}
.center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.features{
  margin-top: 60px;
  text-align: center;
  font-family: "Caladea", serif;
  font-size: 20px;
  padding: 0px 50px;
  margin-bottom: 50px;
}
.featuresContent{
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 18px;
}
input{
  padding: 12px;
}
a{
  list-style: none;
  text-decoration: none;
}
.icons{
  width: 50px;
  height: 50px;
}
.box1{
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: whitesmoke;
}
.box2{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: whitesmoke;
}
.box3{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: whitesmoke;
}
.featureHeading{
  font-size: 20px;
  font-family: "Open Sans", serif;
  margin: 10px 0px;
}
.featureContent{
  font-size: 16px;
  font-family: "Open Sans", serif;
  margin-top: 5px;
}

.box1HIW{
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.box2HIW{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.box3HIW{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.HIWContent{
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr ;
  grid-gap: 18px;
}