*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.heading{
  font-family: 'Lato';
}
.hidden{
  display:"none";
}
.flexCenter{
  display: flex;
  justify-content: center;
  align-items: center;
}
.error{
  color: rgb(177, 77, 77);
}
.tc{
  text-align: center;
}
.cp{
  cursor: pointer;
}
label{
    color: #595959;
    margin-bottom: 5px;
}