.loginContainer{
    height: calc(100vh - 60px);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F4F5FF;
    padding-bottom: 100px;
}
.loginElementsContainer div{
    display: flex;
    flex-direction: column;
}
.emailInput, .passwordInput{
    padding: 7px;
    width: 350px;
    border-radius: 5px;
    border: 1.5px solid rgb(176, 176, 176);
    padding: 13px;
}
.emailContainer, .passwordContainer{
    margin-bottom: 20px;
}
.loginBtn{
    padding: 13px 10px;
    border: 0px solid;
    background-color: #b0306a;
    color: white;
    font-weight: 700;
    border-radius: 10px;
    font-size: 16px;
    margin-top: 7px;
    box-shadow: 6px 6px  black;
    cursor: pointer;
}
.emailInput:focus{
    outline: none;
}
.passwordInput:focus{
    outline: none;
}




