.login{
    width: 100vw;
    height: 91vh;
    display: flex;
    background-color: whitesmoke;
}
.partion2{
    height: 91vh;
    width: 100vw;
    display: flex;
    justify-content: center;
}

.login_content{
    width: 35%;
    display: flex;
    flex-direction:column;
    margin-top: 100px;
}
@media (max-width:1000px) {
    .login_content{
        width: 60%;
    }
}

@media (max-width:600px) {
    .login_content{
        width: 80%;
    }
}
.login_button{
    height: 50px;
    margin-top: 15px;
    background-color: #669;
    color: white;
    font-family: "Open Sans", serif;
    border: 0px;
    border-radius: 6px;
    cursor: pointer;
}
input{
    width: auto;
    margin-bottom:30px;
    font-family: "Geist Sans";
}
.signIn_login{
    font-size: 40px;
    text-align: center;
    font-family: "Caladea", serif;
    font-weight: 500;
    margin-bottom: 50px;
}
.Sign_up_link{
    text-align: center;
    margin-top: 30px;
    cursor: pointer;
    font-family: "Geist Sans";
}