.uploadimg{
    width: 100px;
    height: 100px;
}
.upload{
    background-color: whitesmoke;
    height: 83vh;
    padding: 30px;
}
.file_upload_text{
    font-family: "Open Sans";
    border: 3px dotted #669;
    text-align: center;
    padding: 100px 10px;
    margin: 30px 230px;
    border-radius: 20px;
    cursor: pointer;
}
.upload_button{
    height: 50px;
    margin: 20px;
    background-color: #669;
    color: white;
    font-family: "Open Sans", serif;
    border: 0px;
    border-radius: 6px;
    cursor: pointer;
    width: 30vw;
}
.uploadContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width:1200px) {
    .upload_button{
        width: 40vw;
    }
    .file_upload_text{
        margin: 30px 150px;
    }
}
@media (max-width:900px) {
    .upload_button{
        width: 50vw;
    }
    .file_upload_text{
        margin: 30px 100px;
    }
    .upload{
        padding: 30px 20px;
    }
}
@media (max-width:600px) {
    .upload_button{
        width: 80vw;
    }
    .file_upload_text{
        margin: 30px 20px;
    }
    .upload{
        padding: 30px 10px;
    }
}