.uploadContainer{
    min-height: calc(100vh - 60px);
    background-color: #f4f5ff;
}
.uploadBtn{
    padding: 13px 10px;
    border: 0px solid;
    background-color: #b0306a;
    color: white;
    font-weight: 700;
    border-radius: 10px;
    font-size: 16px;
    margin-top: 7px;
}
.text-center{
    text-align: center;
}
.uploadImgContainer{
    max-width: 1000px;
    margin: 0px auto;
    background-color: #eaebf6;
    border-radius: 10px;
    padding: 50px;
}
.innerUploadImgContainer{
    border: 2px dashed gray;
    max-width: 1000px;
    margin: 0px auto;
    background-color: #eaebf6;
    border-radius: 10px;
    margin: 30px;
    display: flex;
    justify-content: center;
    padding: 50px 0px;
}
.uploadIcon{
    text-align: center;
    padding: 20px;
    border-radius: 60%;
    background-color:rgb(250, 251, 255);
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}
.uploadIconContainer{
    display: flex;
    justify-content: center;
}
.clickContent{
    color: #b0306a;
    margin: 10px;
    text-align: center;
    font-weight: 600;
}
.imagesSupport{
    margin: 10px;
}
.uploadText2{
    margin: 50px;
}
.uploadImageText{
    position: relative;
    top: 40px;
}
.uploadBtnContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    padding-bottom: 100px;
}
.uploadBtn{
    padding: 10px 100px;
    width: 300px;
}
.previewText{
    display: flex;
    justify-content: space-between;
    margin: 0px 30px;
}
.previewImg{
    width: 350px;
    border-radius: 6px;
}
@media (max-width: 600px) {
    .uploadImgContainer{
        padding: 20px;
    }
    .innerUploadImgContainer{
        margin: 0px;
        padding: 20px;
    }
    .uploadIcon{
        width: 80px;
        height: 80px;
    }
    .uploadIconContainer{
        margin-top: 20px;
    }
    .uploadBtn{
        padding: 10px 50px;
    }
    .previewText{
        flex-direction: column;
        align-items: center;
    }
    .previewImg{
        width: 100%;
    }
    
}